.card {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
    margin: 1em;
}

.card:hover {
    transform: scale(1.3);
}

.card__name {
    color: rgb(145, 3, 3);
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
}

.card__image {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card__text {
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.card__date {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-top: 0.5rem;
}

.card__autor {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-top: 0.5rem;
}